<a href="https://colab.research.google.com/github/sainik-khaddar/Python-Data-Analysis-EE/blob/main/EE_A_OFFLINE_LAB_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
resp=pd.read_csv('/content/SEC A RESPONSES) - Form responses 1.csv')

In [3]:
resp.head()

             Timestamp  ... HAVE U SHIFTED TO KOLKATA ?
0  21/11/2021 15:38:09  ...      I live in Kolkata only
1  21/11/2021 15:38:24  ...                          No
2  21/11/2021 15:38:57  ...      I live in Kolkata only
3  21/11/2021 15:39:13  ...      I live in Kolkata only
4  21/11/2021 15:39:42  ...      I live in Kolkata only

[5 rows x 9 columns]

In [4]:
resp.shape

(55, 9)

In [5]:
vacc=pd.read_csv('/content/VACCINATION SURVEY EE A (Responses) - Form responses 1.csv')

In [6]:
vacc.head()

             Timestamp  ...  Have u taken VACCINATION 2ND DOSE?
0  22/11/2021 14:23:11  ...                                 Yes
1  22/11/2021 14:23:11  ...                                  No
2  22/11/2021 14:25:24  ...                                  No
3  22/11/2021 14:26:29  ...                                 Yes
4  22/11/2021 14:26:33  ...                                 Yes

[5 rows x 4 columns]

In [7]:
vacc.shape

(57, 4)

In [9]:
vacc['Have u taken VACCINATION 1ST DOSE?'].value_counts()

Yes    57
Name: Have u taken VACCINATION 1ST DOSE?, dtype: int64

In [10]:
vacc['Have u taken VACCINATION 2ND DOSE?'].value_counts()

Yes    40
No     17
Name: Have u taken VACCINATION 2ND DOSE?, dtype: int64

In [11]:
resp['Can you attend OFFLINE LAB CLASSES ?'].value_counts()

Yes,  I'll be there     48
Sorry, can't make it     7
Name: Can you attend OFFLINE LAB CLASSES ?, dtype: int64

In [12]:
final=resp[["Email address","Can you attend OFFLINE LAB CLASSES ?","MENTION YOUR FULL NAME :-","MENTION YOUR FULL EMAIL :-","MENTION YOUR FULL CONTACT NUM :-","CLASS ROLL NUMBER","HAVE U SHIFTED TO KOLKATA ?","FROM WHICH DISTRICT WILL U COME ?"]].merge(vacc[["CLASS ROLL NUMBER","Have u taken VACCINATION 1ST DOSE?","Have u taken VACCINATION 2ND DOSE?"]],on="CLASS ROLL NUMBER",how="left")

In [13]:
final.head()

              Email address  ... Have u taken VACCINATION 2ND DOSE?
0    sourishtito7@gmail.com  ...                                Yes
1   sirjantudust8@gmail.com  ...                                 No
2     rajsaha9876@gmail.com  ...                                Yes
3   anirbanm.1728@gmail.com  ...                                Yes
4  to.raghavsaini@gmail.com  ...                                Yes

[5 rows x 10 columns]

In [14]:
final.isna()

    Email address  ...  Have u taken VACCINATION 2ND DOSE?
0           False  ...                               False
1           False  ...                               False
2           False  ...                               False
3           False  ...                               False
4           False  ...                               False
5           False  ...                               False
6           False  ...                               False
7           False  ...                               False
8           False  ...                               False
9           False  ...                               False
10          False  ...                               False
11          False  ...                               False
12          False  ...                               False
13          False  ...                               False
14          False  ...                               False
15          False  ...                               False
16          False  ...                               False
17          False  ...                               False
18          False  ...                               False
19          False  ...                               False
20          False  ...                               False
21          False  ...                                True
22          False  ...                               False
23          False  ...                               False
24          False  ...                               False
25          False  ...                               False
26          False  ...                               False
27          False  ...                               False
28          False  ...                               False
29          False  ...                               False
30          False  ...                                True
31          False  ...                               False
32          False  ...                               False
33          False  ...                               False
34          False  ...                               False
35          False  ...                                True
36          False  ...                               False
37          False  ...                               False
38          False  ...                               False
39          False  ...                               False
40          False  ...                               False
41          False  ...                               False
42          False  ...                               False
43          False  ...                               False
44          False  ...                               False
45          False  ...                               False
46          False  ...                               False
47          False  ...                               False
48          False  ...                               False
49          False  ...                               False
50          False  ...                               False
51          False  ...                               False
52          False  ...                               False
53          False  ...                               False
54          False  ...                               False

[55 rows x 10 columns]

In [15]:
final.to_csv("EE_A Results FINAL.csv",index=False)