In [1]:
import pandas as pd

In [14]:
resp=pd.read_csv('/content/EE-B RESPONSES.csv')

In [15]:
resp.head()

             Timestamp  ...                     HAVE U SHIFTED TO KOLKATA ?
0  20/11/2021 17:35:55  ...                          I live in Kolkata only
1  20/11/2021 17:37:04  ...  No problem for me to commute from home (●'◡'●)
2  20/11/2021 17:50:39  ...  No problem for me to commute from home (●'◡'●)
3  20/11/2021 17:51:11  ...                          I live in Kolkata only
4  21/11/2021 15:50:47  ...                                             Yes

[5 rows x 9 columns]

In [16]:
resp.shape

(65, 9)

In [17]:
vacc=pd.read_csv('/content/vaccination.csv')

In [18]:
vacc.head()

             Timestamp  ...  Have u taken VACCINATION 2ND DOSE?
0  22/11/2021 13:39:20  ...                                 Yes
1  22/11/2021 13:39:30  ...                                  No
2  22/11/2021 13:39:32  ...                                 Yes
3  22/11/2021 13:39:50  ...                                 Yes
4  22/11/2021 13:40:48  ...                                 Yes

[5 rows x 4 columns]

In [19]:
vacc.shape

(60, 4)

In [20]:
resp['Can you attend OFFLINE LAB CLASSES ?'].value_counts()

Yes,  I'll be there     60
Sorry, can't make it     5
Name: Can you attend OFFLINE LAB CLASSES ?, dtype: int64

In [22]:
final=resp[["Email address","Can you attend OFFLINE LAB CLASSES ?","MENTION YOUR FULL NAME :-","MENTION YOUR FULL EMAIL :-","MENTION YOUR FULL CONTACT NUM :-","CLASS ROLL NUMBER","HAVE U SHIFTED TO KOLKATA ?","FROM WHICH DISTRICT WILL U COME ?"]].merge(vacc[["CLASS ROLL NUMBER","Have u taken VACCINATION 1ST DOSE?","Have u taken VACCINATION 2ND DOSE?"]],on="CLASS ROLL NUMBER",how="left")

In [23]:
final.to_csv("EE_B Results FINAL.csv",index=False)